<div class="ion-page">
  <ion-header>
    <ion-toolbar class="tw-text-center !tw-py-0 tw-px-4">
      <ion-buttons slot="start">
        <app-back-button routePath="/profile" />
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="tw-px-4">
      <form [formGroup]="editUserDataForm" (ngSubmit)="updateUserData()">
        <ion-list>
          <ion-item lines="none" class="tw-mb-4">
            <app-email
              formControlName="email"
              [label]="'edit_user_data.email_label' | translate"
              [helperText]="'edit_user_data.email_helper' | translate"
              [error]="getEmailError(emailControl.errors) | translate" />
          </ion-item>

          <ion-item lines="none" class="tw-my-4">
            <ion-input
              formControlName="username"
              type="text"
              labelPlacement="floating"
              [label]="'edit_user_data.username_label' | translate"
              [errorText]="'validation.required' | translate"
              [helperText]="'edit_user_data.username_helper' | translate" />
          </ion-item>
        </ion-list>

        <div class="tw-w-full tw-flex tw-justify-center">
          <ion-button
            color="success"
            class="tw-p-1"
            translate="edit_user_data.save_button"
            type="submit"
            [disabled]="!editUserDataForm.valid" />
        </div>
      </form>
    </div>
  </ion-content>
</div>
