<div class="ion-page">
  <ion-content>
    <div
      class="tw-flex tw-flex-col tw-h-full tw-justify-center tw-items-center tw-w-fit tw-mx-auto tw-text-center tw-px-4">
      @if (isVerified() === true) {
      <ion-icon name="checkmark-circle-outline" class="tw-text-9xl tw-text-green-200 tw-mb-4" />
      <ion-text translate="verify_email.success" />
      } @else if(isVerified() === false) {
      <ion-icon name="close-circle-outline" class="tw-text-9xl tw-text-red-200 tw-mb-12" />
      <ion-text [innerHTML]="'verify_email.error' | translate : { supportEmail: 'support@gg.gg'}" />
      } @else {
      <ion-icon name="mail-outline" class="tw-text-9xl tw-text-yellow-200 tw-mb-4" />
      <ion-text translate="verify_email.loading" />
      }
      <ion-button
        *ngIf="isVerified() !== undefined"
        class="tw-m-0 tw-mt-4 tw-h-fit tw-text-sm tw-normal-case tw-w-full tw-px-4"
        size="medium"
        translate="verify_email.button"
        routerLink="/" />
    </div>
  </ion-content>
</div>
