<ion-header>
  <ion-toolbar>
    <ion-title class="tw-p-0" translate="collection_settings.title" />

    <ion-buttons slot="end">
      <ion-menu-toggle class="tw-text-2xl">
        <ion-button class="app-icon-button">
          <ion-icon slot="icon-only" name="close-outline" />
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <app-collection-progress-setting
        label="collection_settings.global_progress.label"
        [selectedMode]="globalProgressMode()"
        (progressModeChange)="handleGlobalProgressModeChange($event)" />
    </ion-item>

    <ion-item>
      <app-collection-progress-setting
        label="collection_settings.rarity_progress.label"
        [selectedMode]="rarityProgressMode()"
        (progressModeChange)="handleRarityProgressModeChange($event)" />
    </ion-item>

    <ion-item class="app-no-ripple">
      <div class="tw-w-full tw-flex tw-flex-col tw-py-2">
        <ion-text class="tw-text-sm tw-mb-2" translate="collection_settings.cards_mode.label" />

        <div class="tw-flex">
          <div
            class="tw-w-24 tw-border-2 tw-border-transparent"
            [class.!tw-border-green-400]="cardsDisplayMode() === CardsDisplayMode.Image"
            (click)="handleCardsViewModeChange(CardsDisplayMode.Image)">
            <app-card class="tw-pointer-events-none" [card]="cardExample" [isLoading]="false" />
          </div>

          <div
            class="tw-ml-3 tw-border-2 tw-h-fit tw-border-transparent tw-rounded"
            [class.!tw-border-green-400]="cardsDisplayMode() === CardsDisplayMode.Chip"
            (click)="handleCardsViewModeChange(CardsDisplayMode.Chip)">
            <app-chip class="tw-pointer-events-none" [card]="cardExample" [isLoading]="false" />
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button class="tw-w-full tw-text-center" translate="collection_settings.import_collection_button">
        <ion-icon slot="start" name="add-outline" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
