<div class="ion-page">
  <ion-content>
    <div class="tw-flex tw-flex-col tw-h-full tw-justify-center">
      <ion-text class="tw-text-center tw-text-9xl tw-text-red-300">404</ion-text>
      <ion-text class="tw-text-center tw-my-5 tw-text-2xl" translate="not_found.title" />

      <ion-button
        class="tw-m-0 tw-ml-1 tw-h-fit tw-text-sm tw-normal-case tw-w-full tw-px-4"
        size="medium"
        translate="not_found.button"
        [routerLink]="['/']" />
    </div>
  </ion-content>
</div>
