ion-searchbar.collection-searchbar {
  --background: var(--ion-color-dark-contrast);

  --color: var(----ion-color-dark-tint);
  --placeholder-color: var(--ion-color-dark-tint);

  --icon-color: var(--ion-color-dark-tint);
  --clear-button-color: var(--ion-color-dark-tint);
}
