<div class="ion-page">
  <ion-header>
    <ion-toolbar class="tw-text-center !tw-py-0 tw-px-4">
      <ion-buttons slot="end">
        <ion-button>
          <!-- add back button here -->
          123
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="tw-p-4">
      <app-back-button [routePath]="'/profile'" />

      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <ion-list>
          <ion-item lines="none" class="tw-mb-4">
            <app-password
              formControlName="oldPassword"
              [label]="'change_password.old_password_label' | translate"
              [helperText]="'change_password.old_password_helper' | translate"
              [error]="'validation.required' | translate" />
          </ion-item>

          <ion-item lines="none" class="tw-my-4">
            <app-password
              formControlName="password"
              [label]="'change_password.password_label' | translate"
              [helperText]="'change_password.password_pattern_helper' | translate"
              [error]="getPasswordError(passwordControl.errors) | translate" />
          </ion-item>

          <ion-item lines="none" class="tw-my-4">
            <app-password
              formControlName="confirmPassword"
              [label]="'change_password.confirm_password_label' | translate"
              [helperText]="'change_password.confirm_password_helper' | translate"
              [error]="getConfirmPasswordError(changePasswordForm.errors) | translate" />
          </ion-item>
        </ion-list>

        <div class="tw-w-full tw-flex tw-justify-center">
          <ion-button
            color="success"
            class="tw-p-1"
            translate="change_password.save_button"
            type="submit"
            [disabled]="!changePasswordForm.valid" />
        </div>
      </form>
    </div>
  </ion-content>
</div>
