<div class="ion-page">
  <app-header title="profile.header" />

  <ion-content>
    <form [formGroup]="changePasswordForm">
      <ion-list class="tw-p-4">
        <ion-item lines="none" class="tw-my-4">
          <app-password
            formControlName="oldPassword"
            [label]="'change_password.old_password_label' | translate"
            [helperText]="'change_password.old_password_helper' | translate"
            [error]="'validation.required' | translate" />
        </ion-item>

        <ion-item lines="none" class="tw-my-4">
          <app-password
            formControlName="password"
            [label]="'change_password.password_label' | translate"
            [helperText]="'change_password.password_pattern_helper' | translate"
            [error]="getPasswordError(passwordControl.errors) | translate" />
        </ion-item>

        <ion-item lines="none" class="tw-my-4">
          <app-password
            formControlName="confirmPassword"
            [label]="'change_password.confirm_password_label' | translate"
            [helperText]="'change_password.confirm_password_helper' | translate"
            [error]="getConfirmPasswordError(changePasswordForm.errors) | translate" />
        </ion-item>
      </ion-list>
    </form>

    <div class="tw-w-full tw-flex tw-justify-center">
      <ion-button
        color="success"
        class="tw-p-1"
        translate="change_password.save_button"
        [disabled]="!changePasswordForm.valid" />

      <ion-button color="light" class="tw-p-1" translate="change_password.cancel_button" (click)="goToProfile()" />
    </div>
  </ion-content>
</div>
