<ion-tabs id="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="collection">
      <ion-icon name="library-outline" />
      {{ 'collection.tab' | translate}}
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline" />
      {{ 'tab.profile' | translate }}
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-menu side="end" menuId="collection-settings-menu" contentId="tabs">
  <app-collection-settings class="tw-flex tw-flex-col tw-h-full" />
</ion-menu>
