<form [formGroup]="editProfileForm">
  <ion-list class="tw-p-4">
    <ion-item lines="none" class="tw-my-4 tw-text-gray-400">
      <div>ID&#58; <ion-text class="tw-font-bold "> 123123123 </ion-text></div>
    </ion-item>

    <ion-item lines="none" class="tw-my-4">
      <ion-input
        formControlName="email"
        type="email"
        labelPlacement="floating"
        [label]="'edit_profile.email_label' | translate"
        [errorText]="getEmailError(emailControl.errors) | translate"
        [helperText]="'edit_profile.email_helper' | translate" />
    </ion-item>

    <ion-item lines="none" class="tw-my-4">
      <ion-input
        formControlName="username"
        type="email"
        labelPlacement="floating"
        [label]="'edit_profile.username_label' | translate"
        errorText="validation.required"
        [helperText]="'edit_profile.username_helper' | translate" />
    </ion-item>

    <ion-item lines="none" class="tw-my-4">
      <app-password
        formControlName="oldPassword"
        [label]="'edit_profile.old_password_label' | translate"
        [helperText]="'edit_profile.old_password_helper' | translate"
        error="validation.required" />
    </ion-item>

    <ion-item lines="none" class="tw-my-4">
      <app-password
        formControlName="password"
        [label]="'edit_profile.password_label' | translate"
        [helperText]="'edit_profile.password_pattern_helper' | translate"
        [error]="getPasswordError(passwordControl.errors) | translate" />
    </ion-item>

    <ion-item lines="none" class="tw-my-4">
      <app-password
        formControlName="confirmPassword"
        [label]="'edit_profile.confirm_password_label' | translate"
        [helperText]="'edit_profile.confirm_password_helper' | translate"
        [error]="getConfirmPasswordError(editProfileForm.errors) | translate" />
    </ion-item>
  </ion-list>
</form>
<div class="tw-w-full tw-flex tw-justify-center">
  <ion-button color="success" class="tw-p-1" translate="edit_profile.save_button" />
  <ion-button color="light" class="tw-p-1" translate="edit_profile.cancel_button" />
</div>
