@if (canMarkAllAsCollected()) {
  <div class="tw-flex tw-justify-end tw-pt-1">
    <ion-button
      (click)="handleMarkAllAsCollectedClick(cardsList())"
      class="tw-p-1"
      type="button"
      translate="collection.mark_all_as_collected_button"
    />
  </div>
}

<div class="tw-flex tw-flex-wrap tw-justify-around">
  @for (card of cardsList(); track card.id) {
    <app-card
      class="tw-p-2"
      [card]="card"
      [isLoading]="cardsLoadingMap()[card.id]"
      (clickCard)="handleCardClick(card)"
      (clickCheckbox)="handleCheckboxClick(card)" />
  } @empty {
    <div class="tw-flex tw-justify-center tw-w-full tw-py-2">
      <p>{{ 'collection.cards_not_found.message' | translate }}</p>
    </div>
  }
</div>
