<div class="ion-page">
  <ion-header>
    <ion-toolbar class="!tw-py-0 tw-px-4">
      <ion-buttons slot="end">
        <ion-button class="app-icon-button" (click)="logout()">
          <ion-icon name="log-out-outline" slot="icon-only" />
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="tw-p-4">
      <ion-list lines="none">
        <ion-item class="tw-text-gray-400">
          ID&#58;
          <div class="tw-text-gray-400">{{ userData()?.id}}</div>
        </ion-item>

        <ion-item
          class="tw-border tw-border-gray-300 tw-rounded"
          routerLink="/profile/edit-user-data"
          [button]="true"
          [detail]="true">
          <div class="tw-flex tw-flex-col tw-w-full">
            <div class="tw-flex tw-content-between tw-w-full">
              <div class="tw-w-full tw-flex tw-flex-col tw-py-4">
                <div class="tw-text-xs tw-font-bold tw-mb-1">{{ 'profile.email_label' | translate }}</div>
                <div class="tw-text-gray-400">{{ userData()?.email}}</div>
              </div>
              <ion-button
                class="tw-self-center"
                color="warning"
                translate="profile.verify_email_button"
                (click)="requestEmailVerification($event)" />
            </div>

            <div class="tw-w-full tw-flex tw-flex-col tw-py-4">
              <div class="tw-text-xs tw-font-bold tw-mb-1">{{ 'profile.username_label' | translate }}</div>
              <div class="tw-text-gray-400">{{ userData()?.username}}</div>
            </div>
          </div>
        </ion-item>

        <ion-item>
          <div class="tw-text-xs tw-font-bold tw-mb-1">{{ 'select_language.label' | translate }}</div>
          <app-select-language class="tw-py-2 tw-w-full" />
        </ion-item>
      </ion-list>

      <div class="tw-w-full tw-flex-col tw-flex tw-justify-center tw-mt-4">
        <ion-button
          class="tw-mt-4"
          color="primary"
          translate="profile.change_password_button"
          routerLink="/profile/change-password" />

        <ion-button
          class="tw-w-full tw-mt-4"
          color="danger"
          translate="profile.delete_account_button"
          (click)="deleteAccount()" />
      </div>
    </div>
  </ion-content>

  <ion-footer class="ion-no-border">
    <ion-toolbar class="tw-border-y tw-border-gray-200">
      <app-support-info />
    </ion-toolbar>
  </ion-footer>
</div>
