<div class="ion-page">
  <app-header title="profile.header" />

  <ion-content>
    <ion-list class="tw-p-4">
      <ion-item>
        <div class="tw-flex tw-w-full tw-justify-between tw-items-center">
          <div>ID&#58; <ion-text class="tw-font-bold"> 123123123 </ion-text></div>

          <ion-button fill="clear" class="tw-p-1" translate="profile.edit_button" />
        </div>
      </ion-item>

      <ion-item>
        <ion-input
          value="helloasdasdasd@asd.asd"
          class="!tw-opacity-100"
          [disabled]="true"
          labelPlacement="floating"
          [label]="'profile.email_label' | translate" />
      </ion-item>

      <ion-item>
        <ion-input
          value="helloasdasdasd@asd.asd"
          class="!tw-opacity-100"
          [disabled]="true"
          labelPlacement="floating"
          [label]="'profile.username_label' | translate" />
      </ion-item>

      <ion-item>
        <ion-input
          value="&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;"
          class="!tw-opacity-100"
          [disabled]="true"
          labelPlacement="floating"
          [label]="'profile.password_label' | translate" />
      </ion-item>
    </ion-list>
  </ion-content>
</div>
