<div class="ion-page">
  <ion-header>
    <ion-toolbar class="!tw-py-0 tw-px-4">
      <ion-buttons slot="end">
        <ion-menu-toggle menu="collection-settings-menu" class="tw-text-2xl">
          <ion-button class="app-icon-button">
            <ion-icon name="settings-outline" slot="icon-only" />
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  @if(globalProgressDisplayMode() !== progressDisplayMode.None){
  <app-progress-bar
    label="progress_bar.global_progress.label"
    [maxValue]="globalTotalCardCount()"
    [currentValue]="globalCollectedCardCount()"
    [displayMode]="globalProgressDisplayMode()" />}

  <ion-content>
    <app-chip-list />
  </ion-content>

  @if(rarityProgressDisplayMode() !== progressDisplayMode.None){
  <app-progress-bar
    label="progress_bar.rarity_progress.label"
    [maxValue]="rarityTotalCardCount()"
    [currentValue]="rarityCollectedCardCount()"
    [displayMode]="rarityProgressDisplayMode()" />}

  <app-rarity-slider
    [rarities]="rarities()"
    [selectedRarity]="selectedRarity()"
    (selectRarity)="handleSelectRarity($event)" />
</div>
