<div class="ion-page">
  <ion-header>
    <ion-toolbar class="!tw-py-2 tw-px-4">
      <ion-searchbar
        #cardsSearchbar
        slot="start"
        class="collection-searchbar !tw-min-h-0 !tw-p-0 tw-mr-4 tw-rounded tw-border-2"
        type="text"
        show-clear-button="always"
        clear-icon="close-circle-outline"
        [disabled]="isCollectionDataLoadedSuccessfuly() === false"
        [debounce]="300"
        [placeholder]="'collection.search_bar.placeholder' | translate"
        (ionInput)="handleSearchValueChange($event)" />

      <ion-buttons slot="end">
        <ion-menu-toggle menu="collection-settings-menu" class="tw-text-2xl">
          <ion-button class="app-icon-button">
            <ion-icon name="settings-outline" slot="icon-only" />
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  @if(canDisplayGlobalProgressBar()){
  <app-progress-bar
    label="progress_bar.global_progress.label"
    [maxValue]="cardsTotal()!"
    [currentValue]="cardsCollected()!"
    [displayMode]="globalProgressDisplayMode()" />
  }

  <ion-content>
    @if(!cardsSearchbar!.value && getCanMarkAllAsCollected()) {
      <div class="tw-flex tw-justify-end tw-pt-1 tw-px-4">
        <ion-button
          (click)="markAllAsCollectedClick(cardsForCurrentRarity)"
          class="tw-p-1"
          type="button"
          translate="collection.mark_all_as_collected_button"
        />
      </div>
    }

    @if(isDataLoading()){
    <div class="tw-flex tw-justify-center tw-items-center tw-w-full tw-h-full">
      <ion-spinner name="bubbles" color="medium" />
    </div>
    } @else if (collectionInfoError() !== undefined) {
    <app-collection-fetch-error
      [label]="'collection.info_fetch_failed' | translate"
      [buttonText]="'collection.info_fetch_failed_button' | translate"
      (tryAgainClicked)="reFetchCollectionInfo()" />
    } @else if (collectionCardsError() !== undefined && !cardsSearchbar.value) {
    <app-collection-fetch-error
      [label]="'collection.cards_fetch_failed' | translate"
      [buttonText]="'collection.cards_fetch_failed_button' | translate"
      (tryAgainClicked)="reFetchCardsByRarity()" />
    } @else if(cardsSearchbar.value || isImageDisplayMode()){
    <app-cards-list
      [cardsLoadingMap]="cardsLoadingMap()"
      [cardsList]="cardsSearchbar.value ? searchCards() : cardsForCurrentRarity"
      (cardCheckboxClicked)="updateCardStatus($event)" />
    } @else {
    <app-chips-list
      [cardsLoadingMap]="cardsLoadingMap()"
      [cardsList]="cardsForCurrentRarity"
      (chipClicked)="updateCardStatus($event)" />
    }
  </ion-content>

  @if(canDisplayRarityProgressBar()){
  <app-progress-bar
    label="progress_bar.rarity_progress.label"
    [maxValue]="cardsForCurrentRarity.length"
    [currentValue]="currentRarityCollectedCardsAmount"
    [displayMode]="rarityProgressDisplayMode()" />
  } @if (isCollectionDataLoadedSuccessfuly()) {
  <app-rarity-slider
    [rarities]="rarities()!"
    [selectedRarity]="cardsSearchbar.value ? undefined : selectedRarity()"
    (selectRarity)="handleSelectRarity($event)" />
  }
</div>
