<div class="ion-page">
  <ion-header>
    <ion-toolbar class="!tw-py-0 tw-px-4">
      <ion-buttons slot="end">
        <ion-menu-toggle menu="collection-settings-menu" class="tw-text-2xl">
          <ion-button class="app-icon-button">
            <ion-icon name="settings-outline" slot="icon-only" />
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <app-rarity-slider
      [rarities]="rarities()"
      [lastSelectedRarity]="lastSelectedRarity()"
      (selectRarity)="handleSelectRarity($event)" />
  </ion-toolbar>
</div>
