<div class="ion-page">
  <app-public-header />

  <ion-content>
    <form
      class="tw-flex tw-justify-center tw-flex-col tw-h-full tw-px-4"
      [formGroup]="registrationForm"
      (ngSubmit)="onRegistrationFormSubmit()">
      <ion-list>
        <ion-item lines="none">
          <ion-input
            class="tw-text-sm"
            formControlName="username"
            labelPlacement="floating"
            [label]="'register.username_label' | translate"
            [errorText]="'validation.required' | translate"
            [helperText]="'register.username_helper' | translate" />
        </ion-item>

        <ion-item lines="none">
          <app-email
            formControlName="email"
            [label]="'email_label' | translate"
            [helperText]="'email_helper' | translate"
            [error]="getEmailError(emailControl.errors) | translate" />
        </ion-item>

        <ion-item lines="none">
          <app-password
            formControlName="password"
            [label]="'password.label' | translate"
            [helperText]="'password.pattern_helper' | translate"
            [error]="getPasswordError(passwordControl.errors) | translate" />
        </ion-item>

        <ion-item lines="none">
          <app-password
            formControlName="confirmPassword"
            [label]="'confirm_password.label' | translate"
            [helperText]="'confirm_password.helper' | translate"
            [error]="getConfirmPasswordError(registrationForm.errors) | translate" />
        </ion-item>
      </ion-list>

      <ion-button
        type="submit"
        class="tw-block tw-rounded-full tw-mt-6 tw-mb-0 tw-mx-0 tw-font-bold"
        [disabled]="!registrationForm.valid"
        translate="register.submit" />

      <div class="tw-flex tw-items-center tw-justify-center">
        <ion-text class="tw-text-xs tw-text-gray-400"> {{'register.have_account' | translate}} </ion-text>
        <ion-button
          class="tw-m-0 tw-ml-1 tw-h-fit tw-text-xs tw-normal-case"
          fill="clear"
          size="small"
          translate="register.login_link"
          [routerLink]="['/login']" />
      </div>
    </form>
  </ion-content>
</div>
