<div class="ion-page">
  <ion-header>
    <ion-toolbar class="tw-text-center !tw-py-2">
      <ion-text class="tw-font-bold tw-text-2xl">{{'register.header' | translate}}</ion-text>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form
      class="tw-flex tw-justify-center tw-flex-col tw-h-full tw-px-12"
      [formGroup]="registrationForm"
      (ngSubmit)="onRegistrationFormSubmit()">
      <ion-list>
        <ion-item lines="none">
          <ion-input
            class="tw-text-sm"
            formControlName="username"
            labelPlacement="floating"
            [label]="'register.username_label' | translate"
            [errorText]="'validation.required' | translate"
            [helperText]="'register.username_helper' | translate" />
        </ion-item>

        <ion-item lines="none">
          <ion-input
            type="email"
            class="tw-text-sm"
            formControlName="email"
            labelPlacement="floating"
            [label]="'register.email_label' | translate"
            [errorText]="getEmailError(emailControl.errors) | translate "
            [helperText]="'register.email_helper' | translate" />
        </ion-item>

        <ion-item lines="none">
          <ion-input
            [type]="isPasswordRevealed() ? 'text' : 'password'"
            class="tw-text-sm"
            formControlName="password"
            labelPlacement="floating"
            [label]="'register.password_label' | translate"
            [helperText]="'register.password_helper' | translate"
            [errorText]="getPasswordError(passwordControl.errors)" />

          <ion-icon
            class="tw-absolute tw-self-center tw-w-6 tw-h-6 tw-top-1/2 tw-right-0 -tw-translate-x-1/2 -tw-translate-y-1/2 tw-z-10"
            [name]="isPasswordRevealed() ? 'eye-outline' : 'eye-off-outline'"
            (click)="togglePasswordReveal()" />
        </ion-item>

        <ion-item lines="none">
          <ion-input
            [type]="isPasswordRevealed() ? 'text' : 'password'"
            class="tw-text-sm"
            formControlName="confirmPassword"
            labelPlacement="floating"
            [label]="'register.confirm_password_label' | translate"
            [helperText]="'register.confirm_password_helper' | translate"
            [errorText]="getConfirmPasswordError(registrationForm.errors, confirmPasswordControl.errors)" />

          <ion-icon
            class="tw-absolute tw-self-center tw-w-6 tw-h-6 tw-top-1/2 tw-right-0 -tw-translate-x-1/2 -tw-translate-y-1/2 tw-z-10"
            [name]="isConfirmPasswordRevealed() ? 'eye-outline' : 'eye-off-outline'"
            (click)="toggleConfirmPasswordReveal()" />
        </ion-item>
      </ion-list>

      <ion-button
        type="submit"
        class="tw-block tw-rounded-full tw-mt-6 tw-mb-0 tw-mx-0 tw-font-bold"
        [disabled]="!registrationForm.valid"
        translate="register.submit" />

      <div class="tw-flex tw-items-center tw-justify-center">
        <ion-text class="tw-text-xs tw-text-gray-400"> {{'register.have_account' | translate}} </ion-text>
        <ion-button
          class="tw-m-0 tw-ml-1 tw-h-fit tw-text-xs tw-capitalize"
          fill="clear"
          translate="register.login_link_text"
          [routerLink]="['/login']" />
      </div>
    </form>
  </ion-content>
</div>
