<div class="ion-page">
  <app-public-header title="reset_password.header" />

  <ion-content>
    <div class="tw-px-2">
      <ion-text class="tw-block tw-mt-20 tw-font-semibold tw-text-center" translate="reset_password.details" />

      <ion-list class="tw-mt-20">
        <ion-item lines="none">
          <ion-input
            type="email"
            class="tw-text-sm"
            [formControl]="resetPasswordFormControl"
            labelPlacement="floating"
            [label]="'email_label' | translate"
            [errorText]="getControlError(resetPasswordFormControl.errors) | translate "
            [helperText]="'email_helper' | translate" />
        </ion-item>
      </ion-list>

      <ion-button
        type="submit"
        class="tw-block tw-mt-20 tw-rounded-full tw-mb-0 tw-mx-0 tw-font-bold"
        [disabled]="!resetPasswordFormControl.valid"
        translate="reset_password.confirm"
        (click)="submitResetPassword()" />

      <ion-button
        class="tw-block tw-m-0 tw-ml-1 tw-h-fit tw-text-xs tw-mx-auto"
        fill="clear"
        size="small"
        translate="reset_password.back_to_login"
        [routerLink]="['/login']" />
    </div>
  </ion-content>
</div>
