<div class="tw-inline-flex tw-relative tw-w-full">
  <ion-chip
    class="chip tw-w-full tw-justify-center"
    [class.chip--missing]="!isExists()"
    [class.chip--collected]="isCollected()"
    [class.chip--loading]="isLoading()"
    [disabled]="!isExists() || isLoading()"
    (click)="handleChipClick(chipId())">
    <ion-label>{{ chipId() }}</ion-label>
  </ion-chip>

  <ng-container *ngIf="isLoading()">
    <div class="tw-absolute tw-flex tw-justify-center tw-items-center tw-h-full tw-w-full">
      <ion-spinner class="chip-spinner" [class.chip-spinner--collected]="isCollected()" name="dots" />
    </div>
  </ng-container>
</div>
