<div class="tw-relative">
  <ion-chip
    class="tw-rounded"
    [ngClass]="{
      'tw-opacity-30': chip().status === status.NotExisting,
      'tw-text-transparent': isLoading()
    }"
    [color]="chip().status === status.Collected ? 'success' : 'medium'"
    [disabled]="isLoading()"
    (click)="handleChipClick(chip().id)">
    <ion-label>{{ chip().serial_number }}</ion-label>
  </ion-chip>

  @if (isLoading()) {
    <div class="tw-absolute tw-flex tw-justify-center tw-items-center tw-inset-x-0 tw-inset-y-0">
      <ion-spinner [color]="chip().status === status.Collected ? 'success' : 'medium'" name="dots" />
    </div>
  }
</div>
